/*====================================================================================================================*\
  БАЗОВЫЕ СТИЛИ
\*====================================================================================================================*/

body {
  margin: 0;
  padding: 0;

  font-weight: normal;
  font-size: 14px;
  line-height: 26px;
  font-family: "PT Sans", "Arial", sans-serif;
  color: #000000;
  text-transform: uppercase;

  background-color: #f2f2f2;
}

.catalog-page {
  background-color: #fefefe;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: #81b3d2;
}

a:active {
  color: #4c4c4c;
}

.centering {
  position: relative;

  max-width: 1200px;
  min-width: 768px;
  margin: 0 auto;

  -webkit-box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.2);

          box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.2);
}

.text-center {
  text-align: center;
}

.catalog-page {
  background-color: #f2f2f2;
}

.catalog-page main {
  background-color: #fefefe;
}

.catalog-page .main-footer {
  position: relative;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;

  border: 0;

  clip: rect(0 0 0 0);
}

.site-index {
  text-align: center;
}

/*====================================================================================================================*\
  HEADER
\*====================================================================================================================*/

.main-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;

  list-style: none;
  font-weight: bold;
}

.main-menu li {
  width: 20%;
  padding-top: 15px;
  padding-bottom: 15px;
}

.main-menu li:nth-child(1) {
  margin-left: 6%;
}

.main-menu li:nth-child(4) {
  margin-right: 6%;
}

.main-menu li:nth-child(3) {
  margin-left: auto;
}

.main-menu li:nth-child(1),
.main-menu li:nth-child(2) {
  text-align: left;
}

.main-menu li:nth-child(3),
.main-menu li:nth-child(4) {
  text-align: right;
}

.main-menu .active {
  color: #766357;
}

.main-header {
  position: relative;

  background-color: #ffffff;
}

.main-header img {
  position: absolute;
  left: 50%;

  margin-left: -69px;
}

/*====================================================================================================================*\
  HERO
\*====================================================================================================================*/

.hero {
  padding-top: 508px;

  background: url("../img/background-text.png") center 77px no-repeat,
  url("../img/background-mask.png") center 451px no-repeat,
  url("../img/background.jpg") center -56px no-repeat;
  background-color: #647888;
}

.hero-block-heading {
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
}

.hero-bottom-text {
  padding-top: 60px;
  padding-bottom: 40px;

  background-color: #ffffff;
}

.hero-block-heading {
  width: 450px;
  margin: 0 auto;
  margin-bottom: 25px;
}

/*====================================================================================================================*\
  FEATURE
\*====================================================================================================================*/

.numbers {
  margin-top: 25px;
  margin-bottom: 20px;
}

.main-features-heading {
  font-weight: bold;
  font-size: 21px;
  line-height: 21px;
}

.feature {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;

  line-height: 21px;

  background-color: #81b3d2;
}

.content-block {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 33.3%;
  padding-top: 45px;
  padding-right: 50px;
  padding-bottom: 30px;
  padding-left: 50px;
}

.main-features-heading {
  width: 155px;
  margin: 0 auto;
  margin-bottom: 25px;
}

.content-block {
  color: #ffffff;

  background-color: #81b3d2;
}

.with-number {
  position: relative;

  margin-bottom: 67px;
}

.with-number::before {
  position: absolute;
  top: 67px;
  left: 50%;

  width: 100px;
  margin-left: -50px;

  font-weight: normal;
  font-size: 14px;
}

.with-number.number-1::before {
  content: "— №1 —";
}

.with-number.number-2::before {
  content: "— №2 —";
}

.with-number.number-3::before {
  content: "— №3 —";
}

.with-number.number-4::before {
  content: "— №4 —";
}

.with-number.number-5::before {
  content: "— №5 —";
}

/*====================================================================================================================*\
  SERVICES
\*====================================================================================================================*/

.services-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;

  list-style: none;
  line-height: 21px;

  background-color: #ffffff;
}

.services-list li {
  width: 33.3%;
  padding-top: 159px;
  padding-right: 50px;
  padding-bottom: 68px;
  padding-left: 50px;

  background-repeat: no-repeat;
  background-position: center 60px;
}

.services-home {
  padding-top: 85px;

  background-image: url("../img/icon-home.svg");
}

.services-burger {
  padding-top: 80px;

  background-image: url("../img/icon-burger.svg");
}

.services-present {
  padding-top: 80px;

  background-image: url("../img/icon-present.svg");
}

/*====================================================================================================================*\
  ADVANTAGES
\*====================================================================================================================*/

.advantages-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;

  list-style: none;
  line-height: 21px;

  background-color: #eeeeee;
}

.advantages-list li {
  width: 33.3%;
  padding-top: 45px;
  padding-right: 60px;
  padding-bottom: 50px;
  padding-left: 60px;
}

/*====================================================================================================================*\
  HOTELS
\*====================================================================================================================*/

.hotels-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.hotels-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  min-height: 151px;
  padding-top: 25px;
  padding-right: 6%;
  padding-bottom: 28px;
  padding-left: 6%;

  border-top: 1px solid #e5e5e5;
}

.hotels-item:last-child {
  border-bottom: 1px solid #e5e5e5;
}

.hotels-rating {
  margin-left: auto;
}

.hotels-info h3 {
  margin: 0;

  font-size: 21px;
}

.hotels-info p {
  margin: 0;
}

.hotels-info-buttons {
  margin-top: 5px;
}

.hotels-pic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 30px;
}

.hotels-rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.hotels-type {
  display: inline-block;
  width: 110px;
}

.rating-label {
  padding-top: 1px;
  padding-right: 15px;
  padding-bottom: 1px;
  padding-left: 15px;

  color: #666666;

  background-color: #f2f2f2;
}

.hotels-rating-stars {
  height: 17px;
  margin-top: 4px;

  background-image: url("../img/star.svg");
  background-repeat: space;
}

.hotels-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.four-stars {
  width: 87px;
}

.three-stars {
  width: 64px;
}

.two-stars {
  width: 41px;
}

/*====================================================================================================================*\
  BUTTONS
\*====================================================================================================================*/

.btn {
  font: inherit;
  font-weight: bold;
  line-height: 1;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;

  border: none;
}

.btn-big {
  padding: 32px 140px;

  font-size: 21px;
}

.btn-small {
  padding: 8px 17px;

  font-size: 14px;
}

.btn-medium {
  padding: 19px 195px;

  font-size: 21px;
}

.btn-brown {
  background-color: #766357;
}

.btn-blue {
  background-color: #81b3d2;
}

.btn-brown:hover {
  background-color: #604e43;
}

.btn-brown:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #503e33;
}

.btn-blue:hover {
  background-color: #669ec0;
}

.btn-blue:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #5496bd;
}

.btn.btn-medium.btn-blue {
  margin-top: 26px;
}

/*====================================================================================================================*\
  SEARCH
\*====================================================================================================================*/

.btn-change-amount {
  padding-top: 22px;
  padding-right: 17px;
  padding-bottom: 12px;
  padding-left: 17px;

  background: url("../img/sprite-change-amount.png") no-repeat;
  background-color: #f2f2f2;
  border: 2px solid #f2f2f2;
}

.btn-change-amount.btn-minus {
  background-position: 4px 7px;
}

.btn-change-amount.btn-plus {
  background-position: 1px -66px;
}

.btn-change-amount.btn-minus:hover {
  background-position: 4px -16px;
}

.btn-change-amount.btn-plus:hover {
  background-position: 1px -97px;
}

.btn-change-amount.btn-minus:active {
  background-position: 4px -39px;
}

.btn-change-amount.btn-plus:active {
  background-position: 1px -128px;
}

.search-form-head {
  padding-top: 50px;

  background-color: #ffffff;
}

.search-form-head b {
  display: inline-block;
  margin-bottom: 15px;

  font-size: 30px;
}

.search-form-head button {
  margin-top: 30px;
}

.search-form {
  position: absolute;
  top: 0;
  left: 50%;

  -webkit-box-sizing: border-box;

          box-sizing: border-box;
  width: 570px;
  height: 396px;
  margin: 0 auto;
  margin-left: -285px;
  padding: 57px;
  padding-top: 56px;

  background-color: #ffffff;
  -webkit-box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.2);
}

.search-form-container input[type="text"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 13px;

  font-weight: bold;
  text-transform: uppercase;

  background-color: #f2f2f2;
  border: 2px solid #f2f2f2;
  outline: none;
}

.search-form-container input[type="text"]:hover {
  background-color: #ebebeb;
  border-color: #ebebeb;
}

.search-form-container input[type="text"]:focus {
  background-color: #ffffff;
  border-color: #e5e5e5;
}

.btn-calendar {
  background: none;
  border: none;

  fill: #a9a9a9;
}

.btn-calendar:hover {
  fill: #000000;
}

.btn-calendar:active {
  fill: #81b3d2;
}

.search-form-container {
  position: relative;

  font-weight: bold;
  color: #000000;
}

.container-number {
  display: inline-block;

  font-size: 0;
}

.container-number button,
.container-number input[type="text"] {
  font-size: 14px;
  vertical-align: middle;
}

.image-wrapper {
  height: 253px;
  width: 66%;
}

.image-wrapper img {
  max-width: 100%;
  height: auto;
}

.container-number input[type="text"] {
  width: 40px;
  padding-left: 0;

  text-align: center;
}

.search-form-container img {
  display: block;
}

.container-date {
  position: relative;

  display: inline-block;
  width: 346px;
}

.container-date button {
  position: absolute;
  top: 7px;
  right: 0;
}

.container-date input {
  width: 100%;
}

.form-input {
  margin-bottom: 29px;

  text-align: left;
}

.form-input label {
  display: inline-block;
  width: 106px;
}

.form-input .child {
  width: 56px;
  margin-left: 50px;
}

.form-input-numbers label,
.form-input-numbers .container-number {
  vertical-align: middle;
}

/*====================================================================================================================*\
  SORTING
\*====================================================================================================================*/

.sorting-form-wrapper {
  width: 1200px;
  min-height: 217px;

  color: #ffffff;

  background-color: #425464;
  background-image: url("../img/background-blur.jpg");
  background-repeat: no-repeat;
}

.sorting-form-wrapper fieldset {
  border: none;
}

.sorting-form-wrapper legend {
  margin-bottom: 8px;

  font-weight: bold;
  font-size: 16px;
}

.price-wrapper {
  position: relative;

  height: 32px;
  margin-bottom: 20px;

  font: inherit;
  font-weight: normal;
  color: inherit;

  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
}

.price-wrapper::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;

  width: 2px;
  height: 22px;
  margin-top: -11px;
  margin-left: -1px;

  background-color: #ffffff;
}

.price-wrapper input[type="text"] {
  width: 72px;

  font-size: 14px;
  line-height: 30px;
  color: inherit;
  text-transform: uppercase;

  background: none;
  border: none;
  cursor: pointer;
}

.price-label {
  display: inline-block;
  width: 97px;
  padding-left: 57px;
}

.form-range {
  position: relative;

  margin-bottom: 32px;
}

.form-range .range-scale {
  height: 2px;

  background-color: rgba(255, 255, 255, 0.3);
}

.form-range .range-bar {
  width: 80%;
  height: 2px;

  background-color: #ffffff;
}

.form-range .range-toggle {
  position: absolute;
  top: -9px;

  width: 4px;
  height: 4px;

  background-color: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  -webkit-box-shadow: 0 2px 2px 0 #ababab;
          box-shadow: 0 2px 2px 0 #ababab;
  cursor: pointer;
}

.range-toggle.range-toggle-min {
  left: 0;
}

.range-toggle.range-toggle-max {
  left: 80%;
}

.sorting-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 25px;
  padding-right: 6%;
  padding-bottom: 29px;
  padding-left: 6%;
}

.sorting-form fieldset {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 235px;
  padding: 0;
  flex-direction: column;
}

.sorting-form fieldset:last-child {
  margin-left: auto;
}

.sorting-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 87px;
  padding-right: 6%;
  padding-left: 6%;
}

.sorting-container .count {
  margin-right: 47px;

  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
}

.sorting-container .sorting {
  margin-right: 40px;

  font-size: 12px;
}

.btn-sorting-type button {
  margin-right: 30px;
  padding: 0;

  font: inherit;
  line-height: 18px;
}

.btn-sorting-priority {
  margin-left: auto;
}

.btn-show {
  padding: 3px 34px;

  font: inherit;
  font-size: 14px;
  color: inherit;
  text-transform: uppercase;

  background: transparent;
  border: 2px solid #ffffff;
}

.btn-show:hover {
  color: #000000;

  background-color: #ffffff;
}

.btn-sorting-type button {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.3);
  text-transform: uppercase;

  background-color: transparent;
  border: none;
  border-bottom: 2px dotted #81b3d2;
}

.btn-sorting-type button:hover {
  color: #81b3d2;
}

.btn-sorting-type button:active {
  color: #000000;

  border: none;
}

.btn-sorting-type .active,
.btn-sorting-type .active:hover,
.btn-sorting-type .active:active,
.btn-sorting-priority .active,
.btn-sorting-priority .active:hover,
.btn-sorting-priority .active:active {
  color: #81b3d2;

  border: none;
}

.btn-sorting-priority button {
  padding: 0;

  color: #cacaca;

  background-color: transparent;
  border: none;
}

.btn-sorting-priority button:hover {
  color: #231f20;
}

.btn-sorting-priority button:active {
  color: #81b3d2;
}

.btn-sorting-priority button:first-child {
  margin-right: 5px;
}

/*====================================================================================================================*\
  FOOTER
\*====================================================================================================================*/

.main-footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  height: 120px;

  background-color: rgba(255, 255, 255, 0.9);
}

.footer-hashtag {
  font-weight: bold;
  font-size: 21px;
}

.footer-hashtag-wrapper,
.social-footer,
.htmlacademy-logo-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 33.3%;
}

.social-footer {
  padding: 0;

  list-style: none;
}

.social-footer a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 46px;
  height: 47px;
}

.social-footer li {
  margin: 3px;
}

.social-footer a {
  background-color: #81b3d2;

  fill: #ffffff;
}

.social-footer a:hover {
  background-color: #669ec0;
}

.social-footer a:active {
  background-color: #5496bd;

  fill: #88b6d1;
}

.social-footer a svg {
  margin: auto;
}

.htmlacademy-logo span {
  padding-right: 5px;

  vertical-align: middle;
}

.htmlacademy-logo,
.htmlacademy-logo:hover span,
.htmlacademy-logo:active span {
  color: #000000;
}

.htmlacademy-logo svg {
  vertical-align: middle;
}

.htmlacademy-logo:hover svg {
  fill: #81b3d2;
}

.htmlacademy-logo:active svg {
  fill: #bdbbbc;
}
