body {
  font-size: 14px;
  line-height: 26px;
  font-weight: normal;
  color: #000000;
  font-family: PT Sans;
}

.background-block-heading {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: #000000;
  font-family: PT Sans;
}

.main-features-heading {
  font-size: 21px;
  line-height: 21px;
  font-weight: bold;
  color: #000000;
  font-family: PT Sans;
}
