/*====================================================================================================================*\
  БАЗОВЫЕ СТИЛИ
\*====================================================================================================================*/

body {
  margin: 0;
  padding: 0;

  font-size: 14px;
  line-height: 26px;
  font-weight: normal;
  color: #000000;
  font-family: "PT Sans", sans-serif;
  text-transform: uppercase;

  background-color: #f2f2f2;
}

.catalog-page {
  background-color: #fefefe;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: #81b3d2;
}

a:active {
  color: #4c4c4c;
}

.centering {
  width: 1200px;
  margin: 0 auto;
  box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.2);
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

.site-index {
  text-align: center;
}

/*====================================================================================================================*\
  HEADER
\*====================================================================================================================*/

.main-menu {
  font-weight: bold;
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-menu li {
  width: 20%;
  padding-top: 15px;
  padding-bottom: 15px;
}

.main-menu li:nth-child(1) {
  margin-left: 6%;
}

.main-menu li:nth-child(4) {
  margin-right: 6%;
}

.main-menu li:nth-child(3) {
  margin-left: auto;
}

.main-menu li:nth-child(1),
.main-menu li:nth-child(2) {
  text-align: left;
}

.main-menu li:nth-child(3),
.main-menu li:nth-child(4) {
  text-align: right;
}

.main-menu .active {
  color: #766357;
}

.main-header {
  background-color: #ffffff;
}

/*====================================================================================================================*\
  HERO
\*====================================================================================================================*/

/*.hero-pictures {*/

.hero-bottom-text {
  /*height: 509px;*/
  padding-top: 509px;
  width: 1200px;
  background: url("../img/background-text.png") center no-repeat,
              url("../img/background-mask.png") bottom center no-repeat,
              url("../img/background.jpg") center -55px no-repeat;
}

.hero-block-heading {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
}

.hero-bottom-text {
  background-color: #ffffff;
  /*padding-top: 60px;*/
  padding-bottom: 40px;
}

.hero-block-heading {
  width: 450px;
  margin:0 auto;
  margin-bottom: 25px;
}

/*====================================================================================================================*\
  FEATURE
\*====================================================================================================================*/

.numbers {
  margin-top: 25px;
  margin-bottom: 20px;
}

.main-features-heading {
  font-size: 21px;
  line-height: 21px;
  font-weight: bold;
}

.feature {
  display: flex;
  line-height: 21px;
  background-color: #81b3d2;
}

.content-block {
  width: 33.3%;
  padding-top: 45px;
  padding-bottom: 30px;
  padding-left: 50px;
  padding-right: 50px;
  box-sizing: border-box;
}

.main-features-heading {
  width: 160px;
  margin: 0 auto;
  margin-bottom: 25px;
}

.content-block {
  color: #ffffff;
  background-color: #81b3d2;
}

/*====================================================================================================================*\
  SERVICES
\*====================================================================================================================*/

.services-list {
  line-height: 21px;
  display: flex;
  background-color: #ffffff;
  margin: 0;
  padding: 0;
  list-style: none;
}

.services-list li{
  background-repeat: no-repeat;
  background-position: center 60px;
  width: 33.3%;
  padding-top: 159px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 68px;
}

.services-home {
  background-image: url("../img/icon-home.svg");
  padding-top: 85px;
}

.services-burger {
  background-image: url("../img/icon-burger.svg");
  padding-top: 80px;
}

.services-present {
  background-image: url("../img/icon-present.svg");
  padding-top: 80px;
}

/*====================================================================================================================*\
  ADVANTAGES
\*====================================================================================================================*/

.advantages-list {
  line-height: 21px;
  display: flex;
  background-color: #eeeeee;
  margin: 0;
  padding: 0;
  list-style: none;
}

.advantages-list li {
  width: 33.3%;
  padding-top: 45px;
  padding-left: 60px;
  padding-right: 60px;
  padding-bottom: 50px;
}

/*====================================================================================================================*\
  HOTELS
\*====================================================================================================================*/

.hotels-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.hotels-item {
  min-height: 110px;
  display: flex;
  border-top: 1px solid #e5e5e5;
  padding-left: 6%;
  padding-right: 6%;
  padding-top: 20px;
  padding-bottom: 20px;
}

.hotels-item:last-child {
  border-bottom: 1px solid #e5e5e5;
}

.hotels-rating {
  margin-left: auto;
}

.hotels-info h3 {
  font-size: 21px;
  margin: 0;
}

.hotels-info p {
  margin: 0;
}

.hotels-pic {
  margin-right: 30px;
  display: flex;
  align-items: center;
}

.hotels-rating {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}

.hotels-type {
  display: inline-block;
  width: 110px;
}

.rating-label {
  color: #666666;
  background-color: #f2f2f2;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 15px;
  padding-right: 15px;
}

.hotels-rating-stars {
  background-image: url("../img/star.svg");
  background-repeat: space;
  height: 17px;
}

.hotels-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.four-stars {
  width: 87px;
}

.three-stars {
  width: 64px;
}

.two-stars {
  width: 41px;
}

/*====================================================================================================================*\
  BUTTONS
\*====================================================================================================================*/

.btn {
  font: inherit;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  border: none;
  line-height: 1;
}

.btn-big {
  font-size: 24px;
  padding: 31px 120px;
}

.btn-small {
  font-size: 14px;
  padding: 8px 17px;
}

.btn-medium {
  font-size: 21px;
  padding: 19px 196px;
}

.btn-brown {
  background-color: #766357;
}

.btn-blue {
  background-color: #81b3d2;
}

.btn-brown:hover {
  background-color: #604e43;
}

.btn-brown:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #503e33;
}

.btn-blue:hover {
  background-color: #669ec0;
}

.btn-blue:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
}

/*====================================================================================================================*\
  SEARCH
\*====================================================================================================================*/

.btn-change-amount {
  background-color: #f2f2f2;
  font: inherit;
  font-weight: bold;
  text-transform: uppercase;
  border: 2px solid #f2f2f2;
  color: #a9a9a9;
}

.btn-change-amount:hover {
  color: #000000;
}

.btn-change-amount:active {
  color: #81b3d2;
}

.search-form-head {
  background-color: #ffffff;
  padding-top: 50px;
}

.search-form-head b {
  font-size: 30px;
  display: inline-block;
  margin-bottom: 15px;
}

.search-form-head button {
  margin-top: 30px;
}

.search-form {
  background-color: #ffffff;
  width: 575px;
  height: 400px;
  box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.2);
  margin: 0 auto;
  padding: 50px;
  box-sizing: border-box;
}

.search-form-container input[type="text"] {
  background-color: #f2f2f2;
  font: inherit;
  font-weight: bold;
  text-transform: uppercase;
  border: 2px solid #f2f2f2;
  outline: none;
}

.search-form-container input[type="text"]:hover {
  background-color: #ebebeb;
  border-color: #ebebeb;
}

.search-form-container input[type="text"]:focus {
  background-color: #ffffff;
  border-color: #e5e5e5;
}

.btn-calendar {
  border: none;
  background: none;
  fill: #a9a9a9;
}

.btn-calendar:hover {
  fill: #000000;
}

.btn-calendar:active {
  fill: #81b3d2;
}

.search-form-container {
  color: #000000;
  font-weight: bold;
}

/*====================================================================================================================*\
  SORTING
\*====================================================================================================================*/

.sorting-form-wrapper {
  min-height: 217px;
  width: 1200px;
  color: #ffffff;
  background-image: url("../img/background-blur.jpg");
  background-repeat: no-repeat;
}

.sorting-form-wrapper fieldset {
  border: none;
}

.sorting-form-wrapper legend {
  font-size: 16px;
  font-weight: bold;
}

.sorting-form-wrapper input[type="text"] {
  color: inherit;
  font: inherit;
  font-weight: normal;
  border: 2px solid #ffffff;
  background-color: transparent;
  padding: 4px 8px;
}

.sorting-form {
  display: flex;
  padding-left: 6%;
  padding-right: 6%;
  padding-top: 25px;
  padding-bottom: 40px;
}

.sorting-form fieldset {
  display: flex;
  min-width: 235px;
  padding: 0;
}

.sorting-form fieldset:last-child {
  margin-left: auto;
}

.sorting-container {
  display: flex;
  height: 90px;
  justify-content: space-between;
  padding-left: 6%;
  padding-right: 6%;
  align-items: center;
}

.sorting-container .count {
  margin-right: 47px;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
}

.sorting-container .sorting {
  font-size: 12px;
  margin-right: 40px;
}

.btn-sorting-type button {
  font: inherit;
  line-height: 18px;
  margin-right: 30px;
  padding: 0;
}

.btn-sorting-priority {
  margin-left: auto;
}

.btn-show {
  font: inherit;
  color: inherit;
  font-size: 14px;
  text-transform: uppercase;
  background: transparent;
  padding: 5px 35px;
  border: 2px solid #ffffff;
}

.btn-show:hover {
  color: #000000;
  background-color: #ffffff;
}

.btn-sorting-type button {
  color: rgba(0, 0, 0, 0.3);
  text-transform: uppercase;
  font-size: 12px;
  border: none;
  border-bottom: 2px dotted #81b3d2;
  background-color: transparent;
}

.btn-sorting-type button:hover {
  color: #81b3d2;
}

.btn-sorting-type button:active {
  color: #000000;
  border: none;
}

.btn-sorting-type .active,
.btn-sorting-type .active:hover,
.btn-sorting-type .active:active,
.btn-sorting-priority .active,
.btn-sorting-priority .active:hover,
.btn-sorting-priority .active:active {
  color: #81b3d2;
  border: none;
}

.btn-sorting-priority button {
  color: #cacaca;
  border: none;
  background-color: transparent;
}

.btn-sorting-priority button:hover {
  color: #231f20;
}

.btn-sorting-priority button:active {
  color: #81b3d2;
}

/*====================================================================================================================*\
  FOOTER
\*====================================================================================================================*/

.main-footer {
  height: 120px;
  background-color: rgba(255, 255, 255, 0.9);
  display: flex;
}

.footer-hashtag {
  font-size: 21px;
  font-weight: bold;
}

.footer-hashtag-wrapper,
.social-footer,
.htmlacademy-logo-wrapper {
  width: 33.3%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-footer {
  padding: 0;
  list-style: none;
}

.social-footer a {
  display: flex;
  width: 46px;
  height: 46px;
}

.social-footer li {
  margin: 3px;
}

.social-footer a {
  fill: #ffffff;
  background-color: #81b3d2;
}

.social-footer a:hover {
  background-color: #669ec0;
}

.social-footer a:active {
  background-color: #5496bd;
  fill: #88b6d1;
}

.social-footer a svg {
  margin: auto;
}

.htmlacademy-logo span {
  vertical-align: middle;
  padding-right: 5px;
}

.htmlacademy-logo,
.htmlacademy-logo:hover span,
.htmlacademy-logo:active span{
  color: #000000;
}

.htmlacademy-logo svg {
  vertical-align: middle;
}

.htmlacademy-logo:hover svg {
  fill: #81b3d2;
}

.htmlacademy-logo:active svg {
  fill: #bdbbbc;
}
